*{
    padding: 0px;
    margin: 0px;
}
#h1{
    display: flex;
    background-color: rgba(23, 113, 231, 0.897);
    height: 65px;
    text-align: center;
    align-items: center;
    justify-content: space-between;  
}
#sp1{
    color: white;
    margin-left: 3rem;
}
#demo4{
    height: 1.8rem;
}

.p1{
    display: inline;
    margin-left: 18px;
    color: rgb(170, 158, 158);
}
h1{
    display: inline-block;
    margin-left: 40px;
     font-size: 58px;
     color:rgb(63, 62, 62) ;
     font-family:Arial, Helvetica, sans-serif;
     font-weight: lighter;
     
}
.ind{
    display: inline;
    margin-left: 30px;
    margin-top: 18px;
    font-weight: lighter;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
i{
    color: rgb(55, 212, 55);
}

#sp3{
    /* display: flexbox; */
    margin-left: 10%;
}
#sp2{
    margin-left: 10rem;
}
#sp5{
    display: flex;
    justify-content: flex-end;
    border: 10px solid black;

    
}
.clib{
    margin-top: 1rem;
}
#tem{
    font-size: 1.4rem;
    margin-left: 13rem;
    color: rgb(88, 86, 86);
}
.spp3{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#div1{
    display: flex;
    justify-content:flex-start;
    background-color:rgba(243, 240, 240, 0.795) ;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
#div2{
    display: flex;
    flex-wrap: wrap;
    margin-left: 35%;
    margin-top: 40px;
    
}
#in{
    font-weight:500 ;
    font-size: 1.7;
    margin-left: 13rem;
}

#div3{
    margin-left: 12rem;
    margin-top: 1.7rem;
}

#pic{
    display: flex;
    justify-content: center;
    height: 40rem; 
     margin: 2rem; 
     /* margin-left: 5rem;
    margin-right: 5rem; */
    /* flex-wrap: wrap; */
    /* padding: 5rem; */
    /* border: 2px solid black; */

   
}
#pic1{
max-width: 100%;
max-height: 100%;
box-shadow: 10px 5px 5px 5px #888888;
border: none;
}

#sec1{
    /* border: 2px solid; */
    margin-left: 14rem;
    display:flex;
    /* flex-wrap: wrap; */

}

#sec3{
/* border: 2px solid; */
margin-left: 9rem;
}
.st1{
    display: inline;
}

#btn{
    color: white;
    background-color: rgb(250, 164, 192);
    height: 2.6rem;
    width: 7.6rem;
    margin-left: 13rem;
    border: none;
    border-radius: 5px;

}
.pic2{
    margin: 3rem;
    max-width: 100%;
    max-height: 100%;
    
}

#btn2{
    margin-left: 5rem;
    color: white;
    background-color: rgb(81, 81, 216);
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
}
#btn3{
    margin-left: 1rem;
    color: white;
    background-color: rgb(74, 185, 250);
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
}
#btn4{
    margin-left: 1rem;
    color: white;
    background-color: rgb(226, 45, 21);
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
}
#btn5{
    margin-left: 1rem;
    color: white;
    background-color: rgb(6, 6, 158);
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 5rem;
}
.sh1{
    margin-left: 10rem;
    font-size: 23px;
    margin: 5rem;
}
.sh2{
    font-size: 23px;
    margin-left: 5rem;
    margin-top: 5rem;
}


/* #list{
    padding-top: 14rem;
    margin-left: 7rem;
    /* border: 2px solid; */

/* } */ 

/* .st2{
    margin-top: 5rem;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
} */
/* #outer{
    /* border: 2px solid; */
    /* display: flex;
    flex-direction: row; */
/* } */

/* #sin{
    display: flex;
    margin: 2rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
} */
/* .sm1{
    padding-top: 13rem;
    margin-top: 13rem;
} */
/* .inner{
    margin-top: 4.1rem;
    text-align: center;
    
} */
/* #sinbox{
    background-color :rgba(248, 245, 245, 0.781)

} */
.btt{
    margin-top: 1.7rem;
}
.outer{
    padding: 3rem;
}

.lib{
    margin-top: 1rem;
    color: rgb(228, 228, 228);
}


#tem{
    margin-top: 2rem;
    font-size: 30px;
}

.price{
    margin-top: 6rem;
    font-weight: lighter;
    
}

#descri{
font-family:Verdana, Geneva, Tahoma, sans-serif;
letter-spacing: 2px;
white-space:pre-line;
}

#d1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 4rem;
}
#d3{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    /* border: 2px solid; */
    margin-right: 5rem;
    flex-wrap: wrap;
}
.p5,.p6{
    margin-top: 1.3rem;
    font-size: 1.1rem;

}

#hr1{
   margin-left: 13rem;
}
#hr2{
    margin-left: 5rem;
 }

.tempde{
    display: flex;
    font-weight: 400;
}
#bd1{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid; */
    height: 4rem;
    font-size: 1.4rem;
    color: #888888;
    align-items: center;
}
#bd2{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid; */
    height: 6rem;
    align-items: center;
    background-color: #faf1f1;
    
}
#bd3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(44, 44, 44);
    color: rgb(184, 182, 182);
}
#bd4{
    display: flex;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: rgb(184, 182, 182);
}

#btn6{
    color: white;
    background-color: rgb(53, 125, 184);
    width: 8rem;
    height: 3rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}
@media screen and (max-width: 700px){
    #sec1{
        flex-wrap: wrap;
    }
    #sec3{
        margin-left: 0rem;
        margin-top: 2rem;
    }
    #btn{
        margin-top: 2rem;
    }
    #bd3{
        display: flex;
        flex-direction: column;
    }
    #btn5{
        margin-left: 5rem;
    }
}

